<nav class="navbar navbar-expand-lg navbar-light">
    <!-- <img src="../assets/images/logo.png" width="20px" height="20px" class="logo"> -->
    <a class="navbar-brand" routerLink="/header" routerLinkActive="active">CPlayer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <br>
            <li class="nav-item">
                <a class="nav-link" routerLink="/myrecommendation" routerLinkActive="active">My Recommendation</a>
            </li>
        </ul>
    </div>
    <div class="user-action d-flex justify-content-end">


        <div class="user-action d-flex justify-content-end">

            <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="search()">
                <input class="form-control mr-sm-2" type="search" placeholder="Search by Player" value="" formControlName="searchbox">
                <button class="btn btn-outline-success my-2 my-sm-0" value="search">Search</button>
                <!-- <input id="searchbox" name="searchbox"> -->
            </form>

        </div>       


        <a class="user-action-link" routerLink="/login" routerLinkActive="active">Logout</a>
    </div>
</nav>
<section id="search">
    <div class="row">
        <div class="card col-2" *ngFor="let item of res">
            <div class="details">
                <h4>{{item.pid}}</h4>
                <h4>{{item.fullName}}</h4>
                <h4>{{item.name}}</h4>
            </div>
            <mat-card-actions>
                <button mat-icon-button color="warn" (click)="addFavourite(item)" aria-label="Example icon-button with a heart icon">
                </button>
                <button mat-icon-button color="warn" (click)="addRecommended(item)"
                    aria-label="Example icon-button with a heart icon">
                    <mat-icon>recommend</mat-icon>
                </button>
            </mat-card-actions>
        </div>
    </div>
</section>
<!-- <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let card of result">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>{{card.cplayer_fullName}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                majorTeams: {{card.cplayer_majorteams}}
                <br>

                Country: {{card.cplayer_country }}
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list> -->
<!-- 
<section id="search">
    <h2>Search Result</h2>

    <div class="row">
        <div class="card col-2" *ngFor="let track of artist">

            <div class="details">
                <h4>{{ track["name"] }}</h4>
            </div>
        </div>
    </div>
</section>  -->