/* You can add global styles to this file, and also import other style files */
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-weight: 600;
    font-family: 'Nunito', cursive;   
}

html, body { height: 100%; }

